html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top:0;
    left:0;
    cursor:pointer;
    font-family: 'Bree Serif', serif;
}
.left-nav{
    width:65%;
    /* background-color: rgb(30, 32, 32); */
    display: flex;
   align-items: center;
}
.logo{
  width:200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img{
    width:35%;
    border: 3px solid white;
    border-radius: 50%;
    margin-top: 5px;
}
.left-nav li{
   list-style: none;
   font-size:20px;
}
.left-nav li a{
   text-decoration: none;
   color: white;
   padding:14px 28px;
}
.left-nav li a:hover{
color:gray
}
.right-nav{
    width:50%;
    /* background-color: rgb(255, 30, 0); */
    text-align: right;
}
#search{
    font-size:18px;
    border-radius: 15px;
    border: 3px solid gray;
    padding:6px 24px;
}
.background-design{
  background: rgba(0, 0, 0, 0.7) url('../img/city-407703_1920.jpg');  
  background-size:cover;
  background-blend-mode:darken;
}
.second-half img{
    width: 250px;
    border:4px solid white;
    border-radius:50%;
    display:block;
    margin:auto;
    margin-left: 5px;;
}
.box-main{
    height:50%;
    display: flex;
    justify-content: center;
    color: white;
    max-width:50%;
    margin:auto;
}
.first-section{
    height:100vh;
    display: flex;
}
.first-half{
    width:80%;
    display: flex;
    flex-direction: column;
}

.text-big{
    font-size: 35px;
    font-family: 'Bree Serif', serif;
}
.text-small{
    font-size: 17px;
    margin:5px 0px;
    font-family: 'Ubuntu', sans-serif;
 
}
.btn{
    padding:10px 14px;
    margin-top: 6px;
    margin-right:4px;
    color: white;
    border-radius: 12px;
    border: 2px solid white;
    background: none;
    font-size: 20px;
}
.btnsm{
    padding:6px 10px;
   margin:3px 6px;
    color: white;
    border-radius: 12px;
    border: 2px solid white;
    background: none;
    font-size: 17px;
}
.btn:hover{
    color: gray;
}
.thumbnail img{
    margin:8px 12px;
    width:300px;
    height:260px;
    border: 2px solid black;
    border-radius: 12px;
    margin-top:10px;
}
.section-second{
    border: 2px solid gray;
    background-color: rgba(252, 247, 209, 0.699);
    display: flex;
    align-items: center;
    justify-content: center;
    width:80%;
    margin: auto;
    margin-top: 50px;
}
.paras{
    padding:5px 63px;
    color:rgb(17, 16, 16);
}
.section sub-tag{
    font-weight: bolder;
}
.left{
    flex-direction: row-reverse;
}
.contact{
    margin-top:50px;
    background-color: rgb(247, 243, 243);
   height:700px;
}
.text-center{
    text-align:center;
    font-family: 'Bree Serif', serif;
    font-size: 38px;
    padding:10px;
}
.form{
    font-family: 'Ubuntu', sans-serif;
    max-width:65%;
    margin: 12px auto;
}
.form input,textarea{
    width:100%;
    padding:13px 12px;
    border-radius: 12px;
    margin:12px 0;
    font-size:18px;
    border:2px solid grey;
}
.btn-submit{
    width:50%;
    display: block;
    margin:auto;
    color: rgb(248, 244, 244);
    border:2px solid grey;
    background-color: rgb(19, 18, 18);
    margin-top: 18px;
}
.text-footer{
    text-align: center;
    padding:8px 0px;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right:5%;
    top:15px;
}
.line{
    width:30px;
    height:3px;
    background-color: white;
    margin:5px 3px;
}
@media only screen and (max-width:1260px){
 .navbar{
     flex-direction: column;
     overflow: hidden;
 }   
 .left-nav{
    flex-direction: column;
    padding:10px 0px; 
 }
 .left-nav li{
    margin:15px 0px;
 }
 .logo{
     margin-bottom: 5px;
 }
.right-nav{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.right-nav button{
  margin:10px 0px;
}
.burger{
    display: block;
}
.h-nav-resp{
    height:58px;
}
html,body{
    width:100%;
    height:100%;
    margin:0px;
    padding: 0px;
    overflow-x:hidden;
}
.v-class-resp{
    visibility: hidden;;
}
.box-main{
    flex-direction: column-reverse;
    max-width: 100%;
    align-items: center;
}
.text-big{
    text-align: center;
}
.text-small{
    text-align: center;
}
.buttons{
    text-align: center;
}
.section-second{
    flex-direction:column ;
}
.paras{
    padding: 1px 8px;
}
.thumbnail img{
    width:240px;
    height:230px;
}
}
@media only screen and (max-width:320px)
{
    .thumbnail img{
        width:200px;
        height:200px;
    }

}